<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <title> List-Page {% block title %}{% endblock title %} </title>
  </head>
<body>   
    
     <div class="container">
    <form class="form-inline" action="/todolist2" method="get">
            {% csrf_token %}
    <h2 class="text  mr-sm-2 ">Appoinment List: </h2>
    <input class="form-control mr-sm-2" type="search" id="namee" name="namee" placeholder="Search for tasks" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div> 


    <table class="table table-striped table-hover">
  <thead>
    <tr>
      {% comment %} <th scope="col">No.</th> {% endcomment %}
      <th scope="col">Task</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
      <!-- <th scope="col" type="submit" >Delete</th> -->
    </tr>
  </thead>
  <tbody>
  {% if sarvesh %}
  <strong> {{mssg}} </strong>
  {% else %}
    {% for varr in va %}
    <tr>
    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
    <td>{{varr.task}}</td>
    <td>{{varr.description}}</td>
    <td>{{varr.date}}</td>
    <td><button> <a class="bi bi-trash " href="/delete/{{varr.task}}" > </a></button> </td>
    </tr>
    {% endfor %}    
  {% endif %}
  </tbody>
</table>
    <p class="mt-5 mb-3 text-muted text-center  text-dark fixed-bottom my-03 py-13">Copyright &copy; 2023| All Rights Reserved</p> 
</body>
</html>